<style>

</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% block content %}


<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">

     <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="login-field">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p class="login-field">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>


        <button  class="btn btn-primary btn-large btn-block">{{ form.submit() }}</button>
    </form>
</div>
</div>
</div>
</form>

{% endblock %}