
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% block content %}



<div class="question">
<div class="question-screen">
<div class="question-title">

     <form action="/takeSurvey" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="question1-field">
            {{ form.questions.label }}<br>
            {{ form.questions() }}
        </p>

        <button  class="btn btn-primary btn-large btn-block">{{ form.submit() }}</button>
    </form>
</div>
</div>
</div>


{% endblock %}