<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% block content %}

    <form action="/register" method="post" novalidate>
        <div class="login">
<div class="login-screen">
<div class="app-title">
        <h1>Register</h1>
        {{ form.hidden_tag() }}
        <p class="login-field">
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p class="login-field">
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p class="login-field">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p class="login-field">
            {{ form.submit() }}
        </p>
    </form>
</div>
</div>
</div>
{% endblock %}